{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'img/about/about2.png' %}" >
					<hr>
					<h5>Привет, меня зовут Денис!</h5>
					<p>Рад приветствовать Вас на своём сайте</p>
				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Это мой первый сайт с использованием высокоуровневого <br>Python веб-фреймворка</h4>
					<hr>
					<p>Данный сайт был написан за 2 месяца, в нём используются базы данных для хранения
            информации о пользователях и их записей. Функцианал сайта включает в себя возможность регистрации 
            и аутентификации пользователей, а также просмотр, добавление, редактирование и удаления ими запсей.
          </p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Мой опыт работы в качестве разработчика</h5>
					<hr>
					<p>Специалист в сфере аудита информациооной безопасности.</p>
					<p>Проводил аудит настроек СЗИ от НСД Secret Net, разработал парсер отчётов (обьём файла одного отчта 1,5ГБ и больше, в зависимости от количества машин на участке аудита) с возможностью составления читабельной базы данных Exel, а на основе полученных данных формировал и контролировал инциденты в системе R-Vision.</p>
					<p>Написал на языке Python собеседника для изучения английского языка, с фозможностью пополнения базы данных собеседника.</p>
        </div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Что я знаю</h5>
					<hr>
					<p>Python, Django, HTML/CSS, основы системного администрирования (настраивал защищённые сети, а также разварачивал сервер домена Windows Server).
				</div>
			</div>
		</div>
		<br>
	</div>
{% endblock %}